<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
    <h1>MONGOCHAT</h1>
    <form action="/api/messages" method="post">
        <label>Email</label>
        <input type="email" name="id" id="id">
        <label>Name</label>
        <input type="text" name="name">
        <label>Last Name</label>
        <input type="text" name="last_name">
        <label>Age</label>
        <input type="number" name="age">
        <label>Alias</label>
        <input type="text" name="alias">
        <label>Avatar (link)</label>
        <input type="text" name="avatar">
        <label>Message</label>
        <textarea name="text" id="" cols="30" rows="10"></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>
</body>
</html>