<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (!user) { %>
        <h1>You are not logged in</h1>
        <% }else{ %>
            <div>
                <p>Welcome <%= user.user %> <a id="logout"><button>Logout</button></a></p>
            </div>
            <p>Email: <%= user.email %></p>
            <script>
                const user = "<%= user.user %>"
            </script>
            <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
            <script src="./js/logout.js"></script>
            <% } %>
</body>
</html>